<!DOCTYPE html>
<html>

<head>
  <title>相册主页</title>
  <meta charset="utf-8">
  <meta name="author" content="Teamus" >

  <link href="/style/plug-in/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/style/skin-1/home.css" rel="stylesheet" type="text/css">
</head>

<body>
  <form id="imodel" class="home-form" action="/home" method="post">
    <div style="margin:50px auto;width: 900px;">
      <div class="panel panel-default">
        <div class="panel-heading" style="height: 40px;">
          <div style="text-align: left">
            <span style="font-size:20px; font-weight:bold;">图片展示</span>
            <div style="float: right;">
              <a class="btn btn-xs btn-info" onclick="Page_Click(-1)" href="javascript:;">上一页</a>
              <a class="btn btn-xs btn-info" onclick="Page_Click(1)" href="javascript:;" style="margin-right: 35px;">下一页</a>
              <a class="btn  btn-xs btn-success" href="upload" style="margin-right: 35px;">添加图片</a>
              <a class="btn btn-xs btn-info" href="logout">退 出</a>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <ul class="spys">
              <li v-for="(picture,index) in pictures" class="spys li">
                <div class="panel-body-img">
                  <img width="160" height="200" v-bind:src="picture.imgSrc">
                  <div class="panel-body-edit">
                    <div>
                      <a href="javascript:;" v-on:click="deletePicture(index)" class="del-ico"></a>
                    </div>
                    <div>
                      <a href="javascript:;" v-on:click="editPicture(index)" class="edit-ico"></a>
                    </div>
                  </div>
                </div>
                <div>
                  <a>
                    {{picture.name}}
                  </a><br>
                  <strong style="color:red;">简介：{{picture.description}}</strong>
                </div>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
            <h4 class="modal-title" id="myModalLabel">
              图片编辑
            </h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" style="margin-bottom: 20px;color:red;"></div>
            <table>
              <tr>
                <td>图片名:</td>
                <td><input id="Txt_EditName" type="text" v-model="temp.imgName"></td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
            <button type="button" v-on:click="updatePicture" class="btn btn-primary">
					提交更改
				</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal -->
    </div>

  </form>
  <script type="text/javascript" src="/js/plug-in/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/js/plug-in/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/plug-in/vue.js"></script>
  <script type="text/javascript" src="/js/home.js"></script>
</body>

</html>